       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
        }

        body {
            font-family: "poppins", sans-serif;
            line-height: 1.6;
            background: #17202a;
            color: #333;
            /* Space for fixed navbar */
        }

        header {
            background: #17202a;
            box-shadow: 0px 0px 30px #000;
            color: #fff;
            text-align: center;
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 65px;
            z-index: 1000;
            width: 100%;
        }


        header h1 {
            color: #00BFFF;
            font-size: 30px;
            margin-left: 50px;
        }

        .nav a {
            text-decoration: none;
            color: #D3D3D3;
            margin-left: 30px;
            font-weight: bold;
            position: relative;
            transition: 0.3s;
        }

        .nav a:hover {
            color: #00BFFF;
        }

        .nav a::before {
            content: '';
            position: absolute;
            background: #00BFFF;
            top: 100%;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 0;
            transition: 0.4s;
        }

        .nav a:hover::before {
            width: 100%;
        }

        .log-btn {
            width: 100px;
            height: 33px;
            border-radius: 50px;
            background-color: #00BFFF;
            border: none;
            margin-bottom: 10px;
            border: none;
            font-size: 15px;
            font-weight: bold;
            margin-top: 6px;
            margin-right: 20px;
            transition: 0.3s;
        }

        .log-btn:hover {
            background: #ffffff;
            color: #000;
        }


        .home {
            height: 580px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .home-cen{
            display: flex;
        }
        
        .home-sec1 {
            margin-right: 90px;
            box-shadow: 0px 0px 30px #000;
            padding: 50px;
            height: max-content;
            margin-top: 160px;
            border-radius: 30px;
            background: #17202a;
            transition: 0.4s;
        }

        .home-sec1:hover {
            background: #161c23;
            box-shadow: 0px 0px 30px #000000;

            .hm-h2 {
                color: #00BFFF;
            }

            .hm-p {
                color: #00BFFF;
            }
        }

        .home-sec2 img {
            width: 450px;
            height: 450px;
            border-radius: 50% 0px 50% 0px;
            box-shadow: 0px 0px 30px #000;
            margin-top: 70px;
        }

        .home h2 {
            font-size: 45px;
            width: 450px;
            transition: 0.4s;
        }

        .home p {
            width: 540px;
            margin-top: 10px;
            font-size: 14px;
            transition: 0.4s;

        }

        .home-btn {
            width: 100px;
            height: 30px;
            font-size: 15px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            margin-top: 30px;
            transition: 0.3s;
        }

        .home-btn:hover {
            background: #00BFFF;
            color: #000;
        }

        .about-head {
            text-align: center;
            font-size: 45px;
            color: #D3D3D3;

        }

        .about-container {
            /*    background: #000;   */
            padding: 50px;
            justify-content: center;
            display: flex;

        }

        .about-container {
            gap: 100px;
        }

        .abu-min-img {
            height: 450px;
            width: 350px;
            box-shadow: 0px 0px 30px #000;
            border-radius: 20px;
        }

        .about-text {
            width: 500px;
            padding: 50px;
            box-shadow: 0px 0px 30px #000;
            border-radius: 10px;
            height: max-content;
        }

        .about-text:hover {
            background: #161c23;
            box-shadow: 0px 0px 30px #000000;

            .abt-h3 {
                color: #00BFFF;
            }

            .abt-p {
                color: #00BFFF;
            }
        }

        .about-text h3 {
            transition: 0.3s;
            font-size: 30px;
        }

        .about-text p {
            font-weight: normal;
            font-size: 14px;
            transition: 0.3s;
            margin-top: 10px;
        }

        .Learn-abt {
            margin-top: 30px;
            width: 110px;
            height: 35px;
            border-radius: 20px;
            border: none;
            font-weight: bold;
            transition: 0.3s;
        }

        .Learn-abt:hover {
            background: #00BFFF;
        }

        .gam-hed {
            text-align: center;
            font-size: 40px;
            color: #D3D3D3;
        }

        main {
            color: #fff;
        }

        .game-grid {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            padding: 20px;
            width: 1500px;
        }   
        .game-grid-cen{
            gap: 25px;
            display: flex;
            flex-wrap: wrap;
            width: 1370px;
        }
        .game-card {
            background: #17202a;
            padding: 5px;
            border-radius: 4px;
            overflow: hidden;
            width: 100%;
            max-width: 320px;
            text-align: center;
            transition: transform 0.3s, box-shadow 0.3s;
            border: 1px solid #00BFFF;
        }

        .game-card:hover {
            transform: scale(1.05);
            box-shadow: 0 0px 36px #000;
            background: #101821;
        }

        .game-card img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        .game-card h3 {
            margin: 0.5rem 0;
            color: #ffffff;
        }

        .game-card p {
            color: #ffffff;
            margin: 0 0 1rem;
            padding: 0 1rem;
        }

        .game-card button {
            background: #00BFFF;
            border: none;
            color: #000;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;
            transition: background 0.3s;
        }

        .game-card button a {
            color: #000000;
            text-decoration: none;

        }

        .game-card button:hover {
            background: #ffffff;
        }

        .contact {
            display: flex;
            justify-content: center;
            padding: 50px;
        }

        .cont-head {
            text-align: center;
            font-size: 50px;
            color: #D3D3D3;
        }

        .contact-container {
            display: flex;
            gap: 100px;
        }

        .contact-image img {
            width: 450px;
            height: 340px;
            border-radius: 150px 0px 150px 0px;
            box-shadow: 0px 0px 30px #00BFFF;
        }

        .contact-form {
            background: #161c23;
            box-shadow: 0px 0px 20px #000;
            border-radius: 50px;
            height: max-content;
            width: 400px;
            padding: 50px;
        }

        .cont-box-m {
            margin: 10px;
        }

        .cc {
            width: 100%;
            padding: 5px;
            height: 40px;
            color: #0892c0;
            border: none;
            font-weight: bold;
        }

        .cmc {
            width: 100%;
            height: 100px;
            padding: 5px;
            border: none;
            color: #0892c0;
            font-weight: bold;

        }

        .cont-btn {
            margin: 5px;
            width: 100px;
            height: 35px;
            border-radius: 6px;
            border: none;
            font-weight: bold;
            background: #00BFFF;
            color: #000;
            font-size: 17px;
            transition: 0.3s;
        }

        .cont-btn:hover {
            background: #fff;
            color: #00BFFF;
        }

        footer p {
            color: #D3D3D3;
            text-align: center;
            padding: 10px;
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 25px;
            background: #0e1218;
            box-shadow: 0px 0px 18px #000;
        }
        section{
            justify-content: center;
            display: flex;
        }